:root {
--color1:  #d4cdc5 !important;
--color2:  #5b88a5 !important;
--color3:  #f4f4f2 !important;
--color4:  #191013 ;
--color5:  #243a69 !important;
}

 /* Adicione um estilo específico para telas menores, como celulares */
 @media (max-width: 767px) {
    /* Seletor para a tabela que você deseja adicionar o scroll horizontal */
    .sua-tabela {
        /* Defina a largura máxima da tabela para ativar o scroll horizontal quando necessário */
        max-width: 100%;
        /* Adicione um scroll horizontal quando o conteúdo excede a largura da tabela */
        overflow-x: auto;
        display: block;
        /* Adicione display: block para forçar a barra de rolagem horizontal */
    }
    /* Opcional: Remova as bordas da tabela para um visual mais limpo */
    .sua-tabela,
    .sua-tabela th,
    .sua-tabela td {
        border: none;
    }
}

body {
    /* background-color: var(--color3); */
    margin: 0; /* Remove a margem padrão */
    height: 100vh; /* Altura da janela do navegador */
    background: linear-gradient(to bottom, var(--color1), var(--color3) );
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima: 100% da janela */
}

main {
    flex: 1; /* O conteúdo ocupa o espaço restante */
    padding: 20px;
}

nav {
    background-color: var(--color5);
    
}
nav a {
    color: white !important; /* Define a cor do texto dos links como branco */
    text-decoration: none !important; /* Remove o sublinhado dos links */
}

.offcanvas {
    background-color: var(--color3) !important;
    color: var(--color4) !important;
}

.btn_menu {
    padding-left: 130px; /* Padding menor para evitar que o texto quebre */
    padding-right: 130px;
    margin: 5px;
    border-radius: 50px;
    /*text-align: center;  Centraliza o texto horizontalmente */

}

#offcanvas-body a {
    color: var(--color2) !important; 
    text-decoration: none !important;
}

.off_link a {
    padding: 10px;
}

.btn-outline-primary {
    --bs-btn-color: var(--color2);
    --bs-btn-border-color: var(--color2);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color2);
    --bs-btn-hover-border-color: var(--color2);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color2);
    --bs-btn-active-border-color: var(--color2);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color2);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--color2);
    --bs-gradient: none;
}

.text-bg-primary {
    background: var(--color2) !important;
}

footer {
    background: linear-gradient(to top, --color1 0%, #ffffff 100%);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;

}

.no-underline1 {
    text-decoration: none;
    font-size: 15px;
    color: rgb(5, 5, 5);
    padding-right: 5px;
    padding-left: 5px;
}

.ulTexto {
    list-style-type: none;
    padding-left: 0;
}

.font_tamanho {
    font-size: 50px;
}

.font_tamanho1 {
    font-size: 22px; 
}

.btn_tamanho {
    margin: 4px;
    border-radius: 50px;
}

.btn_cor {
    background-color: var(--color5) !important;
    border-color: var(--color5) !important;
}

.btn_form {
    background-color: var(--color5) !important;
    border-color: var(--color5) !important;
    border-radius: 50px; 
}

.input_pdf {
    border-radius: 50px;
    border-color: var(--color2);
    background-color: var(--color1);
}